body {
  background: url(princess_colors.PNG);
}
h1{
  font-family: 'Princess Sofia', cursive;
  }
#snow {
  width: 15%;
}
#cinderella{
  width: 23%;
}
#aurora{
  width: 20%;
}
#Ariel{
  width: 15%;
}

#Pocahontas{
  width: 15%;
}
#mulan{
  width: 15%;
}

#Jasmine{
  width: 20%;
}

#Belle{
  width: 25%;
}

#snow_animals{
  width: 20%
}
#Mice{
  width: 20%
}
#mice2{
  width: 20%
}
#FGM{
  width: 20%
}

#step-fam{
  width: 20%
}
#GOODFAR{
  width: 20%
}
#SB_Animal{
  width: 20%
}
#EMAR{
  width: 20%
}
